
.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        yuta
      .top-items__icons
        = link_to "#", class: "link" do
          = icon('far','edit', class: 'edit')
        = link_to "#", class: "link" do
          = icon('fas','cog', class: 'cog')
  .side-bar__group-list
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません